<!-- паршал для отображения фотки одной загруженных на странице события -->
<div class="col-md-3 event-photo buffer-both">
  <%#= link_to image_tag event_thumb(@event)%>
  <% unless photo.photo.url.nil?%>

    <% delete_photo = 
        link_to(fa_icon('trash'), event_photo_path(photo.event, photo),
                method: :delete, data: { confirm: t('.destroy_confirm') }
        ) if current_user_can_edit?(photo) %>

    <% image_footer = "Добавил #{render partial: 'users/user', object: photo.user} #{delete_photo}" %>

    <% image_title = "Фотографии события: #{photo.event.title}" %>

    <%= link_to image_tag(photo.photo.thumb.url, class: "img-fluid"), photo.photo.url, 
      data: {
        toggle: 'lightbox', 
        footer: image_footer, 
        title: image_title, 
        gallery: 'example-gallery',
        type: 'image',
        alwaysShowClose: 'true'
      } %>
  <% else %>
   <%= image_tag(asset_pack_path('media/images/event_thumb.jpg')) %>
  <% end %>
</div>
