<!-- паршал для отображения фоток загруженных на странице события -->
<div class="event-photo buffer-both">
  <%#= link_to image_tag event_thumb(@event)%>
    <%= link_to photo.photo.url do %>
    <!-- без кавычек не работает, в консоли через pry
    проверил там все окей пути работают, не знаю что сделать -->
    <%= image_tag("#{photo.photo.thumb.url}")%>
    <% end %>
  Добавил <%= render partial: 'users/user', object: photo.user %>
</div>
