<p><%= t('views.devise.сommon_phrases.greet_messsage')%>, <%= @email %>!</p>

<p>Вы можете подтвердить свой адрес электронной почты, перейдя по ссылке ниже:</p>

<p><%= link_to 'Подтвердите мою учетную запись', confirmation_url(@resource, confirmation_token: @token) %></p>
