<p> <%= t('views.devise.сommon_phrases.greet_messsage') %>, <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за чрезмерного количества неудачных попыток входа.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свой аккаунт:</p>

<p><%= link_to 'Разблокируйте мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
